<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biomedical Knowledge Graph</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    </style>
<body>
    <div class="jumbotron">
        <div class="container">
            <img class="logo" src="../static/elucidata_logo.png" width="500" height="200"/>
            <br>
            <br>
            <div class="box">
                <br>
                <br>
                <h3>Database Details</h3>
                <form id="upload-form" action="/kg_db_versions" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="version_ask">Get database versions of this KG:</label>
                        <input type="text" id="version_ask" name="kg_version_for_db">
                        <div class="box">
                        <table>
                        <tr>
                        <th>Database</th>
                        <th>Version</th>
                        </tr>
                        <tr>
                        <td>GEO</td>
                        <td>{{ geo_version }}</td>
                        </tr>
                        <tr>
                        <td>STRING</td>
                        <td>{{ string_version }}</td>
                        </tr>
                        <tr>
                        <td>LINCS</td>
                        <td>{{ lincs_version }}</td>
                        </tr>
                        <tr>
                        <td>DisGeNET</td>
                        <td>{{ disgenet_version }}</td>
                        </tr>
                        </table>
                        <br>
                        </div>  
                    </div>
                    <button class="btn btn-success" onclick="loading();">Get database versions</button>
                </form>
            </div>
        </div>
    </div>

    <br>
    <form action="/dvc" align = center>
        <button class="btn btn-success" method="POST" enctype="multipart/form-data" onclick="loading();">Perform Data Versioning</button>
    </form>
    <br>
    <!-- <form action="/kg_gen" align = center>
        <button class="btn btn-danger" method="POST" enctype="multipart/form-data" onclick="loading();">Generate Knowledge Graph</button>
    </form>
    <br> -->
    <form action="/kg_specific" align = "center" hidden>
      <button class="btn btn-success" method="POST" enctype="multipart/form-data" onclick="loading();">Check sub-file versions</button>
    </form>
    <br>
    <br>
    

</body>
</html>